<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
        La section <authentication> permet de configurer 
        le mode d'authentification de la sécurité utilisé par 
        ASP.NET pour identifier un utilisateur entrant. 
    -->
    <authentication mode="Windows"/>
    <!--
        La section <customErrors> permet de configurer 
        les actions à exécuter si/quand une erreur non gérée 
        se produit lors de l'exécution d'une demande. Plus précisément, 
        elle permet aux développeurs de configurer les pages d'erreur html 
        pour qu'elles s'affichent à la place d'une trace de pile de l'erreur.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      La section system.webServer est requise pour l'exécution de ASP.NET AJAX sous Internet
      Information Services 7.0. Elle n'est pas obligatoire pour la version précédente de IIS.
  -->
  <system.webServer>
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRouteService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IRouteService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService"
        contract="ServiceRoutage.IRouteService" name="BasicHttpBinding_IRouteService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IRouteService"
        contract="ServiceRoutage.IRouteService" name="CustomBinding_IRouteService" />
    </client>
    <services>
      <service name="FloKWS.Service1" behaviorConfiguration="FloKWS.Service1Behavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="FloKWS.IService1">
          <!-- 
              Lors du déploiement, l'élément d'identité suivant doit être supprimé ou remplacé pour refléter 
              l'identité sous laquelle le service déployé s'exécute. En cas de suppression, WCF déduira automatiquement une identité 
              appropriée.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FloKWS.Service1Behavior">
          <!-- Pour éviter la divulgation d'informations de métadonnées, définissez la valeur ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Pour éviter la divulgation d'informations d'exception, définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>